#imgfix_wrapper_layer_0_0 .imgfix_src_img {
    left: -999999px;
    right: -999999px;
    top: -999999px;
    bottom: -999999px;
    z-index: 0;
    width: 351px;
    height: 340px;
    max-width: auto !important;
    min-width: auto !important;
    position: absolute;
    margin: auto;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

#imgfix_wrapper_layer_0_0:hover .imgfix_src_img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

#imgfix_wrapper_layer_0_1 .imgfix_src_img {
    left: -999999px;
    right: -999999px;
    top: -999999px;
    bottom: -999999px;
    z-index: 0;
    width: 351px;
    height: 233px;
    max-width: auto !important;
    min-width: auto !important;
    position: absolute;
    margin: auto;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

#imgfix_wrapper_layer_0_1:hover .imgfix_src_img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

#imgfix_wrapper_layer_0_2 .imgfix_src_img {
    left: -999999px;
    right: -999999px;
    top: -999999px;
    bottom: -999999px;
    z-index: 0;
    width: 351px;
    height: 234px;
    max-width: auto !important;
    min-width: auto !important;
    position: absolute;
    margin: auto;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

#imgfix_wrapper_layer_0_2:hover .imgfix_src_img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

#imgfix_wrapper_layer_1_0 .imgfix_src_img {
    left: -999999px;
    right: -999999px;
    top: -999999px;
    bottom: -999999px;
    z-index: 0;
    width: 499px;
    height: 333px;
    max-width: auto !important;
    min-width: auto !important;
    position: absolute;
    margin: auto;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

#imgfix_wrapper_layer_1_0:hover .imgfix_src_img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

#imgfix_wrapper_layer_1_1 .imgfix_src_img {
    left: -999999px;
    right: -999999px;
    top: -999999px;
    bottom: -999999px;
    z-index: 0;
    width: 377px;
    height: 252px;
    max-width: auto !important;
    min-width: auto !important;
    position: absolute;
    margin: auto;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

#imgfix_wrapper_layer_1_1:hover .imgfix_src_img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

#imgfix_wrapper_layer_1_2 .imgfix_src_img {
    left: -999999px;
    right: -999999px;
    top: -999999px;
    bottom: -999999px;
    z-index: 0;
    width: 300px;
    height: 201px;
    max-width: auto !important;
    min-width: auto !important;
    position: absolute;
    margin: auto;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

#imgfix_wrapper_layer_1_2:hover .imgfix_src_img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

#imgfix_wrapper_layer_1_3 .imgfix_src_img {
    left: -999999px;
    right: -999999px;
    top: -999999px;
    bottom: -999999px;
    z-index: 0;
    width: 422px;
    height: 282px;
    max-width: auto !important;
    min-width: auto !important;
    position: absolute;
    margin: auto;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

#imgfix_wrapper_layer_1_3:hover .imgfix_src_img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.imgfix_top_container {
    overflow: hidden;
}

.parallax{
    background-size: cover;
    background-position: center center;
    
}

.animated-scroll-small{
    opacity: 0;
    position: relative;
    top: 50px;
}

.animated-big-item-1 {
    opacity: 0;
    position: relative;
    right: 30px;
}

.animated-big-item-2 {
    opacity: 0;
    position: relative;
    right: 30px;
}

.card-animated {
    opacity: 0;
    position: relative;
    top: 40px;
}